<ol>
{% for pub in include.articles %}
  <li style="margin-bottom: 2em; line-height: 1.6;">
    <strong>{{ pub.title }}</strong><br>

    {% if pub.previous_title %}
      <div><em>Previously titled:</em> {{ pub.previous_title }}</div>
    {% endif %}

    {% if pub.coauthors %}
      <div>
        with
        {% for author in pub.coauthors %}
          {% assign author_data = site.coauthors[author] %}
          [{{ author_data.name }}]({{ author_data.web }}){% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </div>
    {% endif %}

    {% if pub.journal %}
      <em>{{ pub.journal }}</em>,
    {% endif %}
    {{ pub.year }}

    {% if pub.repo %}
      <span>[[repo]({{ pub.repo }})]</span>
    {% endif %}

    {% if pub.invited_conferences %}
      <div><em>Presented at:</em> {{ pub.invited_conferences }}</div>
    {% endif %}

    {% if pub.url %}
      {% if pub.internal %}
        <div><a href="{{ pub.url | prepend: site.baseurl }}">[PDF]</a></div>
      {% else %}
        <div><a href="{{ pub.url }}">[Journal]</a></div>
      {% endif %}
    {% endif %}

    {% if pub.abstract %}
      <div style="margin-top: 1em;"><strong>Abstract:</strong><br>
      <div style="margin-left: 1em;">{{ pub.abstract }}</div></div>
    {% endif %}
  </li>
{% endfor %}
</ol>
